*{
    margin: 0 0;
    padding: 0 0;
}
body{
    background: url(img-servidor.png);
    background-size: 1920px;
    background-repeat: no-repeat;
    background-position-y: -100px;
}
.quartos a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 20px 10px;
}
.quartos a:hover{
    background: #2E8B57;
}
.quartos .final-a:hover{
    background: #2E8B57;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header{
    background: #4F4F4F;
    color: white;
    width: auto;
    height: 7vh;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
#imgUser{
    display: block;
    content: "";
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#servidor{
    font-size: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#link{
    position: absolute;
    right: 30px;
}
#btn-cad{
    padding: 5px 20px;
    cursor: pointer;
}
#container{
    display: flex;
    width: auto;
    justify-content: space-around;
    margin-top: 200px;
}
li{
    list-style: none;
    border-bottom: 2px solid #2E8B57	;
    margin-top: 0px;
}
.quartos{
    position: relative;
    top: -190px;
    background: #3CB371;
    transition: .5s;
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.pavilhoes{
    width: 300px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #4F4F4F;
    color: white;
}
.pavilhao{
    height: 100px;
    border-radius: 30px;
}
.pavilhao:hover > .quartos{
    margin-top: 175px;
    color: white;
}
